section(class="block__footer")
  .wrapper
    .footer__block
      div
        img(src="./images/INNOMA.VC_logo.svg", alt="")
        p All rights reserved
      div
        p Dubai, Single Business Tower 1503, Business Bay
        a(href="") Sales@innoma.vc