.background
  .wrapper
    header(class= "header")
      .container.header__container
        a(class="logo" href="./index.html")
          img(src="./images/INNOMA.VC_logo.svg", alt="")
        nav(class="menu")
          ul(class="menu__list")
            li(class="menu__item")
              a(href="./skills.html")(class="menu__link") Who are we?
            li(class="menu__item")
              a(href="./skills.html")(class="menu__link") Services
            li(class="menu__item")
              a(href="./skills.html")(class="menu__link") Accelerator
            li(class="menu__item")
              a(href="./skills.html")(class="menu__link") News
        div(class="change")
          div(class="come") entry
          button(class="header__burger-btn")(id = "burger")
            span
            span
            span
            span
    .banner
      .title
        h1 Launch a
        h2 TECHNOLOGICAL BUSINESS
        h3 IN INTERNATIONAL MARKETS
      .apply
        .date__change
          h4 Start of the nearest accelerator
            time 27.09.2023
        button Apply