.background
  .wrapper
    header(class= "header")
      .container.header__container
        a(class="logo" href="./index.html")
          img(src="../images/INNOMA.VC_logo.svg", alt="")
        nav(class="menu")
          ul(class="menu__list")
            li(class="menu__item")
              a(href="./skills.html")(class="menu__link") Кто мы?
            li(class="menu__item")
              a(href="./skills.html")(class="menu__link") Услуги
            li(class="menu__item")
              a(href="./skills.html")(class="menu__link") Акселератор
            li(class="menu__item")
              a(href="./skills.html")(class="menu__link") Новости
        div(class="change")
          div(class="come") Войти
          button(class="header__burger-btn")(id = "burger")
            span
            span
            span
            span
    .banner
      .title
        h1 ЗАПУСТИТЕ
        h2 ТЕХНОЛОГИЧЕСКИЙ БИЗНЕС
        h3 НА МЕЖДУНАРОДНЫХ РЫНКАХ
      .apply
        .date__change
          h4 Старт ближайшего акселератора
            time 27.09.2023
        button Подать заявку