extends layout
block services
  section(class="wrapper")
    .services__section
      h2 Our services
      .analytical__block
        img(src="./images/kisspng-competitor.svg", alt="")
        .analytical
          h3 Analytical research
          .description
            p One of our key areas is the analysis of technological trends in international markets.
            p We conduct analysis based on public research McKinsey, BCG, PWC, Deloitte, Accenture, BCG, EY, Crunchbase, Dealroom, F6S, PitchBook, as well as aggregate and analyze data from open international sources patents, media, scientific publications
          button Learn more
      .accelerator__block
        img(src="./images/rocket.svg", alt="")
        .analytical
          h3 Online accelerator for IT business
          .description
            p The online IT business acceleration program will allow your team to open new horizons and business opportunities in global markets.
            p  As a result of the program, you will get the opportunity to present your project to international investors and local partners.
          button Learn more
block whowe
  section(class = "wrapper")
    .whowe
      h2 Who are we for?
      .whowe__blocks
        .whowe__block
          a(href="https://dramaretskyimaksym.github.io/PORTFOLIO/" target= "_blank")
            img(src="./images/01.svg", alt="images" width="100" height = "60")
            h3 IT projects at the idea stage
            p For startups that plan to attract international investment, test demand and launch a product 
        .whowe__block
          a(href="https://dramaretskyimaksym.github.io/PORTFOLIO/" target= "_blank")
            img(src="./images/02.svg", alt="images" width="100" height = "60")
            h3 Innovative business
            p For an already operating technology business, we will allow you to find new international sales markets, scale your business
        .whowe__block
          a(href="https://dramaretskyimaksym.github.io/PORTFOLIO/" target= "_blank")
            img(src="./images/03.svg", alt="images" width="100" height = "60")
            h3 Corporations
            p For an already operating technology business, we will allow you to find new international sales markets, scale your business
block explore-business
  .background__explore-business
    section(class="wrapper")
      .block__business-title
        h2 Learn to explore foreign markets and discover new opportunities for your business
      .block__business-text
        p Our team will help you explore the markets of the Middle East, Asia, Latin America and Africa
        a To get a consultation
block markets-work
  .section__markets-work
    section(class="wrapper")
      h2(class="markets__work-title") What markets do we work with?
      .block__checkbox
        span Near East
        span Asia
        span Latin America
        span Africa
    .wrapper
      .block__change-markets
        div
          .block__markets
            h3 What is interesting
            h4 MENA market:
            p UAE, Saudi Arabia, Israel, Oman, Bahrain, Qatar, Tunisia, Yemen, Egypt, Algeria
          .markets__manager
            img(src="./images/Fatima.png", alt="")
            div(class="fatina")
              h4 Fatima
              p MENA manager
          span(class="btn__change-markets") Enter the market
        .block__manager-cards
          .block__card
            img(src="./images/Billion.svg", alt="" width= "98px")
            p Investments pre-seed, seed
          .block__card
            img(src="./images/freehang.svg", alt="")
            p accelerators, incubators
          .block__card
            img(src="./images/seven.svg", alt="")
            p accelerators, incubators
          .block__card
            img(src="./images/downarrow.svg", alt="")
            p Download report for the MENA market
        button(class="btn-markets") Enter the market
block about-accelerator
  section(class="about-accelerator")
    .wrapper
      .about-accelerator-title
        h2 About the IT business accelerator
        p The accelerator program is designed for 8 weeks of an intensive online course with webinars of invited experts on international markets
      .about-accelerator-blocks
        .accelerator-block
          img(src="./images/3accelerator.svg", alt="")
          p Months of study
        .accelerator-block
          img(src="./images/wordaccelerator.svg", alt="")
          p Invited Experts
        .accelerator-block
          img(src="./images/personaccelerator.svg", alt="")
          p Personal manager
      .video-container
        iframe(width="318" height="200" src="https://www.youtube.com/embed/-sNWKbnaFkg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
block accelerator-program
  section(class="wrapper")
    .accelerator__program-block
      h2 Accelerator-program
      .module__blocks
        .program__block-change
          span
            h3 Module 1
            p 4 weeks
          p Innovative Ideas
        .module__topic
          p Topic 1. Where are IT trends heading? Analytics Gartner, analysis of reports of consulting companies
          p Topic 2. Markets of the Middle East, Asia, Latin AmericaTheme
          p Topic 3. What is internal and external innovation? How to look for innovative ideas?
          p 9 videos, webinar with an invited expert
      .module__block
        .module__block-span
          span
            h3 Module 2
            p Startup approach to creating an international IT product
        .module__block-span
          span
            h3 Module 3
            p Business modeling and search Product Market Fit
        .module__block-span
          span
            h3 Module 4
            p Market definition, search and target audience research
        .module__block-span
          span
            h3 Module 5
            p What is an MVP and why is it important
        .module__block-span
          span
            h3 Module 6
            p Unit economics and financial modeling
        .module__block-span
          span
            h3 Module 7
            p What is a product roadmap?
block get-investors-partners
  .section__investors-partners
      section(class="wrapper")
        .block__investors-partners
          .block__title-investors
            h2 Get on the radar of investors and partners
            p As a result of training, we will create profiles of your company on all international scouting platforms
            .button__investors
              a(href="") Sign up for the accelerator
          .blocks__partners
            .block-partner
              img(src="./images/partner-PitchBook.svg", alt="logo-PitchBook")
            .block-partner
              img(src="./images/partner-Crunchbase.svg", alt="logo-Crunchbase")
            .block-partner
              img(src="./images/partner-DealRoom.svg", alt="logo-DealRoom")
            .block-partner
              img(src="./images/partner-Vadar.svg", alt="logo-Vadar")
            .block-partner
              img(src="./images/partner-F65.svg", alt="logo-F65")
            .block-partner
              img(src="./images/partner-AngelList.svg", alt="logo-AngelList")
block get-result
  section(class="wrapper")
    .section__get-result
      h2 What will you get as a result?
      .blocks__get-result
        .block__result
          img(src="./images/01.svg", alt="images" width="100" height = "60")
          h4 Product Documents
          p Business plan, market analysis report, marketing plan, unit economics, hypothesis list, MVP project
        .block__result
          img(src="./images/02.svg", alt="images" width="100" height = "60")
          h4 Feedback from the market
          p Conducting a study of the target audience will form a Product market fit
        .block__result
          img(src="./images/03.svg", alt="images" width="100" height = "60")
          h4 Product promotion
          p Product promotion through partner analytical systems
        .block__result
          img(src="./images/04.svg", alt="images" width="100" height = "60")
          h4 Subscribe to reports
          p Subscription to analytical reports on international high-tech markets
        .block__result
          img(src="./images/05.svg", alt="images" width="100" height = "60")
          h4 Subscribe to reports
          p Subscription to analytical reports on international high-tech markets
        .block__result
          img(src="./images/06.svg", alt="images" width="100" height = "60")
          h4 Subscribe to reports
          p Subscription to analytical reports on international high-tech markets
block price
  section(class="wrapper")
    .section__price
      h2 Price
      .blocks__price
        .block__price
          .block__price-title
            img(src="./images/analysis-icon.svg", alt="img")
            h4 Analysis of international markets
          .block__price-report
            h3 What is included in the report?
            ol
              li Competitor analysis
              li Investor Analysis
              li Market size (TAM, SAM, SOM)
              li Media analysis
              li Internet query analysis
          .block__execution-description
            .block__readiness
              h3 Readiness
              p 7 work days
            .block__readiness
              h3 Language
              p Ukrainian / English
            .block__readiness
              h3 Price
              p $1 000
          .button__block-price
            a(href="") Submit your application
        .block__price
          .block__price-title
            img(src="./images/packaging-icon.svg", alt="img" height="72")
            h4 Startup packaging for local markets
          .block__price-report
            h3 What is included in the report?
            ol
              li Analysis of local markets
              li Business plan
              li Pitch presentation
              li Financial plan
              li Calculation of the unit of the economy
          .block__execution-description
            .block__readiness
              h3 Readiness
              p 7 work days
            .block__readiness
              h3 Language
              p Ukrainian / English
            .block__readiness
              h3 Price
              p $1 000
          .button__block-price
            a(href="") Submit your application
        .block__price
          .block__price-title
            img(src="./images/accelerator-icon.svg", alt="img")
            h4 Your business accelerator
          .block__price-report
            h3 What is included in the report?
            ol
              li Competitor analysis
              li Investor Analysis
              li Market size (TAM, SAM, SOM)
              li Media analysis
              li Internet query analysis
          .block__execution-description
            .block__readiness
              h3 Readiness
              p 7 work days
            .block__readiness
              h3 Language
              p Ukrainian / English
            .block__readiness
              h3 Price
              p $1 000
          .button__block-price
            a(href="") Submit your application
block we
  section(class="wrapper")
    .section__we
      h2 Who are we?
      .block__we
        img(src="./images/img-we.png", alt="")
        .we__description
          span INNOMA.VC
          p - International analytical agency for the launch of IT business in the local markets of Asia, the Middle East, Latin America, Africa. Our team consists of professionals in their field and our main goal is to help IT companies obtain the necessary knowledge and documents to successfully launch their product on international markets.