extends layout
block services
  section(class="wrapper")
    .services__section
      h2 Our services
      .analytical__block
        img(src="./images/kisspng-competitor.svg", alt="")
        .analytical
          h3 Analytical research
          .description
            p One of our key areas is the analysis of technological trends in international markets.
            p We conduct analysis based on public research McKinsey, BCG, PWC, Deloitte, Accenture, BCG, EY, Crunchbase, Dealroom, F6S, PitchBook, as well as aggregate and analyze data from open international sources patents, media, scientific publications
          button Learn more
      .accelerator__block
        img(src="./images/rocket.svg", alt="")
        .analytical
          h3 Online accelerator for IT business
          .description
            p The online IT business acceleration program will allow your team to open new horizons and business opportunities in global markets.
            p  As a result of the program, you will get the opportunity to present your project to international investors and local partners.
          button Learn more
block whowe
  section(class = "wrapper")
    .whowe
      h2 Who are we for?
      .whowe__blocks
        .whowe__block
          a(href="https://dramaretskyimaksym.github.io/PORTFOLIO/" target= "_blank")
            img(src="./images/01.svg", alt="images" width="100" height = "60")
            h3 IT projects at the idea stage
            p For startups that plan to attract international investment, test demand and launch a product 
        .whowe__block
          a(href="https://dramaretskyimaksym.github.io/PORTFOLIO/" target= "_blank")
            img(src="./images/02.svg", alt="images" width="100" height = "60")
            h3 Innovative business
            p For an already operating technology business, we will allow you to find new international sales markets, scale your business
        .whowe__block
          a(href="https://dramaretskyimaksym.github.io/PORTFOLIO/" target= "_blank")
            img(src="./images/03.svg", alt="images" width="100" height = "60")
            h3 Corporations
            p For an already operating technology business, we will allow you to find new international sales markets, scale your business