doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/styles.css")
    script( defer src="./js/main.js")
    title INNOMA.VC
  body
    include header
    main
      block banner
      block services
      block whowe
      block explore-business
      block markets-work
    include footer